.about-container {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
    .div__img {
        padding-left: 2.5em;
        display: flex;
    }

    .div__p {
        padding-right: 2.5em;
        height: 660px;
        width: 800px;
    }
}

.content h2 {
    font-size: 24px;
}

.content img {
    width: 100%;
}

.content p {
    font-size: 18px;
}
