* {
    box-sizing: border-box;
    font-family: $font-family-roboto;
}

body {
    background-color: $color1;
}

.main {
    display: flex;
    justify-content: center;
    .main__zonaImagenes {
        display: grid;
        padding: 1em 0;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: $altura1 $altura1 $altura3 $altura3;
        gap: 1em;

        div {
            width: 1085px;
            display: flex;
            img {
                margin: 0.5em 0.5em;
            }
        }

        .main__zona1 {
            grid-column: 2/11;
            grid-row: 1/2;

            img {
                height: $altura1;
            }
            #landingPage1 {
                width: 515px;
                margin-right: 1em;
            }
            #landingPage2 {
                width: 570px;
                margin-left: 5em;
            }
        }

        .main__zona2 {
            grid-column: 1/12;
            grid-row: 2/3;

            img {
                height: $altura1;
                width: 450px;
            }
        }

        .main__zona3 {
            grid-column: 1/12;
            grid-row: 3/4;

            img {
                height: $altura3;
            }
            #landingPage6 {
                width: 450px;
            }
            #landingPage7 {
                width: 918px;
            }
        }

        .main__zona4 {
            grid-column: 1/12;
            grid-row: 4/5;


            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, 1fr);

            .zona4__subZona1 {
                width: 900px;
                grid-column: 1/9;
                grid-row: 1/3;
                display: flex;
                flex-direction: column;
                .subZona1__imagenes {
                    display: flex;
                    #landingPage8 {
                        height: $altura2;
                        width: 450px;
                        grid-row: 1/2;
                    }
                    div {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        #landingPage9 {
                            height: $altura2;
                            width: 300px;
                            margin-left: 5em;
                        }
                    }
                }
                #landingPage10 {
                    height: $altura2;
                    width: 920px;
                    grid-row: 2/3;
                }
                
            }
            div {
                width: 450px;
                display: flex;
                justify-content: flex-start;
                grid-column: 9/12;
                grid-row: 4/5;
                #landingPage11 {
                    height: $altura3 - 25px;
                    width: 100%;
                    margin-left: 2.5em;
                    margin-top: 0;
                    margin-bottom: 14px;
                }
            }
        }
    }
}
