@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto+Mono&display=swap');

$font-family-dafoe: 'Mr Dafoe', cursive;
$font-family-roboto: 'Roboto Mono', monospace;

/* Paleta Colores */
$color1:#F8F9FA;
$color2:#E9ECEF;
$color3:#DEE2E6;
$color4:#CED4DA;
$color5:#ADB5BD;
$color6:#6C757D;
$color7:#495057;
$color8:#343A40;
$color9:#212529;

$altura1: 690px;
$altura2: 430px;
$altura3: 890px;
